<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <%=parrafo%>

    <%- parrafo%>

    <% if(condicion.estado) {%>
      <p><%=condicion.segundo%> es par</p>
      <% } else {%>
        <p><%=condicion.segundo%> es impar</p>
      <% }%>
    
    <h3>Lista de usuarios</h3>
    <% users.forEach(function(user) {%>
      <p><%= user.name%></p>
    <% }) %>
  </body>
</html>
